.page-header {
  font-family: "Poppins", sans-serif;
  background-image: url(../../images/hero/heroes-bg.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 41rem;
  position: relative;
  width: 100%;
  position: relative;
  color: #010103;
}

.page-header__container {
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 5;
}

.page-header__container h3 {
  font-size: 3.6rem;
  margin-bottom: 0.5rem;
}

.page-header__container p {
  font-size: 1.6rem;
  font-weight: 600;
}
.page-header__container p span {
  transition: 0.2s all;
}

.page-header__container p span:hover {
  color: #ff4d30;
}

.page-header__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.92);
  position: absolute;
  top: 0;
  left: 0;
}
