.accordion {
  font-family: "Poppins", sans-serif;

  background-color: #fff;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  color: #010103;
  cursor: pointer;
  width: 80rem;
}

.accordion__question {
  font-size: 1.8rem;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.8rem 4.5rem;
  transition: 0.15s ease;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

.accordion__answer {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  overflow: hidden;
  padding: 0 4.5rem;
  max-height: 0;
  transition: 0.4s ease;
}

.accordion__question--active {
  background-color: #ff4d30;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  color: #fff;
}

.accordion__answer--active {
  max-height: 20rem;
  padding: 2.8rem 4.5rem;
  transition: 0.4s ease;
}

.faq__accordions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7rem;
}

@media (max-width: 850px) {
  .accordion {
    width: 100%;
  }
}
